
body { background-color:#FFF8F0; }

@media screen {
	#TourInfo td,
	#Menu,
	#Content,
	#Debug,
	#PopupContent { background-color: #FFF8F0; }
}

table.Tabella { background-color:#FFF0E1; }
table.Tabella2 { background-color:#FFFCF9; }
table.Tabella tr { background-color:#FFFCF9; color: #884400;}
table.Tabella tr.OtherColor {  color: #884400;}
table.Tabella tr.CanShoot { color: #884400;}
table.Tabella tr.CouldShoot { background-color:#FFFFA0; color: #884400;}
table.Tabella tr.NoShoot { background-color:#A0A0FF; color: #884400;}

table.Tabella td.TargetOk { color: #884400;}
table.Tabella td.TargetNoComplete { background-color:#A0FFFF; color: #884400;}
table.Tabella td.TargetKo { background-color:#A0FFFF; color: #884400;}

table.Tabella tr.Main,
#GrdDiv div.Main,
.HeadBlueBg-Dark { background-color:#884400; color: #FFF9F2;}
table.Tabella tr.Spacer {background-color: #884400; }
table.Tabella tr.warning {background-color:#99FFFF; }
table.Tabella tr.yellow {background-color:#99FFFF;  }
table.Tabella tr.error {background-color: #FFCC99;  }
table.Missing th.Title,
    table.Tabella th,
    table.Tabella2 th,
    .HeadBlueBg-Light { background-color:#FFDDBF; color: #884400}
table.Tabella th.Main { background-color:#884400; color: #FFFCF9; }
table.Tabella th.Title,
table.Tabella2 th.Title,
#RssDiv div.Title,
#GrdDiv div.Title,
#Accreditation div.Title,
#AccreditationSync div.Title,
#AwaDiv div.Title { background-color:#884400; color: #FFF9F2; }
table.Tabella th.TitleLeft { background-color:#884400; color: #FFF9F2; }
table.Tabella th.TitleNeg { background-color:#FFF9F2; color: #884400; }
table.Tabella th.TestaStampa { background-color:#884400; color: #FFF9F2; }
table.Tabella td.Title { background-color:#884400; color: #FFF9F2; }
table.Tabella td.Caption { background-color:#FFDDBF;  color: #884400; }
table.Tabella td.Divider {background-color: #884400; }
table.Tabella td.Medium {background-color:#FFFFD0}
table.Tabella td.Dark {background-color:#FFDDBF}

.disabled {background-color:#E8E8E8;}
.disabledDark {background-color:#969292;}

a {color: #884400;}

.rowHover:hover {background-color: yellow !important;}
.rowHover:hover input, .rowHover:hover select { background-color: lightyellow !important;}

	  /********************************Tabelle griglia ************************************/
table.Griglia th { background-color:#FFDDBF; color: #884400}
table.Griglia td.TextRight { color:#660000;}
table.Griglia td.Center { color:#660000;}
table.Griglia td.Top { color:#CC6600; }
table.Griglia td.Bottom { color:#CC6600;}
table.Griglia td.Right { color:#CC6600;}
table.Griglia td.Left { color:#CC6600;}

table.Griglia td.wTop { color:#CC6600; }
table.Griglia td.wBottom { color:#CC6600;}
table.Griglia td.wRight { color:#CC6600;}
table.Griglia td.wLeft { color:#CC6600;}
/********************************Fine Tabelle griglia ************************************/

.khorbar { background-color: #FFF8F0; }

@MEDIA print {
	.print_debug {display:none;}
}
