
body
{
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 0px;
	padding: 0px;
	background-attachment:fixed;
	background-color:#F0F8FF;

/*	background-image:url(./images/sfondo.jpg);
	background-position:bottom;
	background-repeat:repeat-x; */
}

[onclick] {cursor: pointer;}

.text-white{color:#fff!important}
.text-primary{color:#007bff!important}
a.text-primary:focus,a.text-primary:hover{color:#0062cc!important}
.text-secondary{color:#868e96!important}
a.text-secondary:focus,a.text-secondary:hover{color:#6c757d!important}
.text-success{color:#28a745!important}
a.text-success:focus,a.text-success:hover{color:#1e7e34!important}
.text-info{color:#17a2b8!important}
a.text-info:focus,a.text-info:hover{color:#117a8b!important}
.text-warning{color:#ffc107!important}
a.text-warning:focus,a.text-warning:hover{color:#d39e00!important}
.text-danger{color:#dc3545!important}
a.text-danger:focus,a.text-danger:hover{color:#bd2130!important}
.text-light{color:#f8f9fa!important}
a.text-light:focus,a.text-light:hover{color:#dae0e5!important}
.text-dark{color:#343a40!important}
a.text-dark:focus,a.text-dark:hover{color:#1d2124!important}
.text-muted{color:#868e96!important}

@media screen
{
	#Header
	{
		position: absolute;
		font-size: 140%;
		font-family: Verdana, Helvetica, Arial, sans-serif;
		top:0px;
		left:0px;
		width: 99%;
		padding-left:5px;
		padding-right:5px;
		height: 65px;
		color: #000099;
		letter-spacing: 0.1em;

	}

	#TourInfo
	{
		position: relative;
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size:11px;
		top: 0px;
		font-weight:bold;
		left: 0px;
		width: 99%;
		padding:4px 0.5%;
		height: 42px;
		background-color: #F0F8FF;
		color: #000099;
		z-index:0;
	}

	#Menu
	{
		position: absolute;
		top: 44px;
		left: 0px;
		width: 100%;
		padding:0px;
		height: 30px;
		background-color: #F0F8FF;
		z-index:0;
	}

	#Content , #Debug
	{
		position: relative;
		left: 0px;
		width: 99%;
		overflow: auto;
		min-height: 648px;
		padding:5px;
		padding-bottom:30px;
		background-color: #F0F8FF;
		z-index:0;
        height:calc( 100vh - 120px );
	}

	#Debug {
		margin-top: 20px;
		height: auto;
	}

	#PopupContent
	{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		padding:5px;
		padding-bottom:30px;
		background-color: #F0F8FF;
		z-index:0;
		box-sizing: border-box;
	}
}

table.Tabella {width:100%; background-color:#E1F0FF; border: 2px; border-color:#E1F0FF; border-collapse:separate; border-spacing:1px; /*empty-cells:hide;*/}
table.Tabella.freeWidth {width:unset; min-width: 50%; margin:auto; }
table.Tabella tr { background-color:#F9FCFF; color: #004488;}
table.Tabella tr.OtherColor { background-color:#FFFFFF; color: #004488;}
table.Tabella tr.CanShoot { background-color:#A0FFA0; color: #004488;}
table.Tabella tr.CouldShoot { background-color:#FFFFA0; color: #004488;}
table.Tabella tr.UnknownShoot { background-color:#e8a0ff; color: #004488;}
table.Tabella .NoShoot { background-color:#FFD000; color: #004488;}
table.Tabella tr.Dsq { background-color:#E00000; color: #004488;}

table.Tabella td.TargetOk { background-color:#A0FFA0; color: #004488;}
table.Tabella td.TargetNoComplete { background-color:#FFFFA0; color: #004488;}
table.Tabella td.TargetKo { background-color:#FFA0A0; color: #004488;}

table.Tabella tr.Main { background-color:#004488; font-size:120%; font-weight:bold; color: #F2F9ff;}
table.Tabella tr.Spacer {background-color: #004488; height:2px}
table.Tabella tr.warning {background-color:#FFFF99; text-align: left; vertical-align:middle; }
table.Tabella tr.yellow {background-color:#FFFF99; text-align: left; vertical-align:middle; }
table.Tabella tr.error {background-color: #FFCC99; text-align: left; vertical-align:middle; }
table.Missing th.Title,
table.Tabella th { background-color:#BFDDFF; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488}
table.Tabella th.Main,
#GrdDiv div.Main { background-color:#004488; height:80px; line-height:80px;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;  text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #F9FCFF; vertical-align:middle; letter-spacing: 0.5em;}
table.Tabella th.Title,
#RssDiv div.Title,
#GrdDiv div.Title,
#Accreditation div.Title,
#AccreditationSync div.Title,
#AwaDiv div.Title { background-color:#004488; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff; font-size:120%}
table.Tabella th.TitleLeft { background-color:#004488; text-align:left; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff; font-size:100%}
table.Tabella th.TitleNeg { background-color:#F2F9ff; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488; font-size:120%}
table.Tabella th.TestaStampa { background-color:#004488; text-align:right; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff; font-size:120%}
table.Tabella td { padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px;}
table.Tabella td.Right,
table.Tabella th.Right { text-align:right;}
table.Tabella td.Center, table.Tabella2 td.Center { text-align:center;}
table.Tabella td.Bold {  font-weight:bold;}
table.Tabella td.FontMedium { font-size:140%;}
table.Tabella td.LiveSpotting {vertical-align:top; text-align:center;}
table.Tabella td.Title { background-color:#004488; text-align:center; font-weight:bold; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff}
table.Tabella td.Caption { background-color:#BFDDFF;  text-align:center; font-weight:bold; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488}
/*table.Startlist td.Small  { width=50px; padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px; font-size:10px; color: #000000}*/
table.Tabella td.Divider {background-color: #004488; height:2px}
table.Tabella td.Light {background-color:#ffffff}
table.Tabella td.Medium {background-color:#FFFFD0}
table.Tabella td.Dark {background-color:#BFDDFF}
table.Tabella td.Left,
table.Tabella th.Left {text-align: left;}

#Accreditation div.Title,
#AccreditationSync div.Title {padding:0.5rem 0.1rem;}

#AccreditationSync div {margin-top:0.5em;}

.filter {width:100%;box-sizing: border-box;}
.short {width:3em;}
.medium {width:5em;}
tr.active td {background-color:#ffff80;}

.LetteraGrande { font-size:150%; font-weight:bold; }

table.Tabella2 {margin:auto; background-color:#F9FCFF; border: 2px; border-color:#E1F0FF; border-collapse:separate; border-spacing:1px; }
table.Tabella2 td { padding:1px;}
table.Tabella2 th { background-color:#BFDDFF; text-align:center; padding:1px; font-weight:bold; color: #004488}
table.Tabella2 th.Title { background-color:#004488; text-align:center; color: #F2F9ff; font-size:120%}

.HeadBlueBg-Dark {background-color:#004488;color:white;}
.HeadBlueBg-Light {background-color:#BFDDFF}

input, textarea, select, button
{
 background:#FFFFFF;
 border:1px #97B9E6 solid;
 color: #000000;
 font: 9pt Arial,Verdana,Sans;
}
input[disabled],select[disabled],checkbox[disabled]
{
  background: #D0D0D0!important;
}

input.number{text-align:right;}

input.error {font-weight:bold; background-color:#FFFF99;}
input.unsaved {font-weight:normal; background-color:#FFF0F5;}
input.noerror {font-weight:normal; background-color:#FFFFFF;}
input.red {font-weight:bold; background-color:#FF3C1E;}


textarea.error {font-weight:bold; background-color:#FFFF99;}
select.error {font-weight:bold; background-color:#FFFF99;}
textarea.red {font-weight:bold; background-color:#FF3C1E;}
select.red {font-weight:bold; background-color:#FF3C1E;}

.disabled {background-color:#E8E8E8!important;}
.disabledDark {background-color:#969292!important;}

.blue {background-color: #2cc0f1}
.green  {background-color:#96f886;}
.yellow  {background-color:#FFFF99;}
.red  {background-color:#FF3C1E;}

.win {font-weight: bold;}

.hhtdisabledDark {background-color:#a0a0a0;}
.hhtgreen  {background-color:#0000FF; color:white; }
.hhtyellow  {background-color:#FFFF00;}
.hhtred  {background-color:#CC0000;}
.hhtorange  {background-color:#FFA040;}

/********************************Fine Tabella generica ************************************/

a {text-decoration:none;color: #004488;}
a:hover {text-decoration:underline; }
/*.Link {font-weight:bold; color: #666666; text-decoration:none;}*/
.Link {font-weight:bold; color: inherit; text-decoration:none;}
.Link:hover {text-decoration:underline;}

.LinkRevert {font-weight:bold; color: #FFFFFF; text-decoration:none;}
.LinkRevert:hover {text-decoration:underline;}

.medium {width: 75%;}
.half {width: 50%;}

.htt_number
{
	float:left;
	margin:0px 8px 2px 2px;
	font-weight: bold;
}

.htt_letter
{
	float:left;
	width:10px;
	margin:5px 2px 2px 2px;
}

div.OvrError { color:white; background-color:red; padding:2px; font-weight:bold; font-size:120%}
div.OvrOk {color:white; background-color:green; padding:2px; }

/********************************Tabelle griglia ************************************/
table.Content  {width:100%; padding:0px; background-color:#FFFFFF; border: 1px;  border-color:#000000; border-collapse:collapse; border-spacing:0px; empty-cells:hide;}
table.Content td.Center { text-align:center; background-color:#FFFFFF;}
table.Griglia  {width:100%; padding:0px; background-color:#FFFFFF; border: 1px;  border-color:#ffffff; border-collapse:separate; border-spacing:0px; empty-cells:hide; font-family:Verdana, Arial, Helvetica, sans-serif; color:#0066CC; font-size:10px; font-weight:normal;}
table.Griglia th { background-color:#BFDDFF; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488}
table.Griglia td.TextRight { text-align:right; background-color:#FFFFFF;  color:#000066;}
table.Griglia td.Center { text-align:center; background-color:#FFFFFF;  color:#000066;}
table.Griglia td.Top { border-top: 1px solid black; padding-top: 1px; color:#0066CC; background-color:#FFFFFF;}
table.Griglia td.Bottom { border-bottom: 1px solid black; padding-bottom: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.Right { border-right: 1px solid black; padding-right: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.Left { border-left: 1px solid black; padding-left: 1px; color:#0066CC;background-color:#FFFFFF;}

table.Griglia td.wTop { border-top: 1px solid white; padding-top: 1px; color:#0066CC; background-color:#FFFFFF;}
table.Griglia td.wBottom { border-bottom: 1px solid white; padding-bottom: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.wRight { border-right: 1px solid white; padding-right: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.wLeft { border-left: 1px solid white; padding-left: 1px; color:#0066CC;background-color:#FFFFFF;}
/********************************Fine Tabelle griglia ************************************/

.WhatIanseoDoes {margin: 1em auto 1em; width:75%; background-color:rgba(200,200,200,.5); border:1px solid black; padding:1em; }
.WhatIanseoDoes h1 {text-align:center;}
.WhatIanseoDoes div {font-size:125%; margin-top:0.5em; margin-left:3em; text-indent: -3em;}
.WhatIanseoDoes div:BEFORE {content: "=> "; }

#NoAccess {width: 50%; font-size: 400%; text-align: center; font-weight:bold; margin:10px auto;
	padding:20px; color:#555; border-radius:40px;  background:#ffecec; border:2px solid #f5aca6;}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 )
                url('../Images/ajax-loader.gif')
                50% 50%
                no-repeat;
}


body.loading .modal {
    display: block;
}

/* Button */
.Button {display:inline-block; padding:0.25em; background-color:#F0F8FF;border:1px solid darkblue;border-top-color:lightblue;border-left-color:lightblue; margin:0 0.25em;}
.Button:hover {text-decoration: none;}
.Button:focus {border:1px solid darkblue;border-bottom-color:lightblue;border-right-color:lightblue;}

.ClickableDiv { cursor: pointer; -webkit-user-select: none;/* Chrome/Safari */  -moz-user-select: none;/* Firefox */  -ms-user-select: none;/* IE10+ */ /* Not implemented yet */ -o-user-select: none; user-select: none;}

.Flex-line {display:flex; white-space: nowrap;}
.Flex-line div {margin: 0 5px; display: inline-block;}

.rowHover:hover {background-color: #9fff7c !important;}
.rowHover:hover input, .rowHover:hover select { background-color: #e1ffde !important;}

#securityBox {
	font-size: 80%;
	font-weight: normal;
	text-align: center;
}

.aclIP {
	font-size: 140%;
	text-align: left;
}

.ServerError {
    font-weight: bold;
    color:white;
    background-color: #800000;
    text-align: center;
    font-size:3em;
    padding:1em!important;
}

.ml-1 {margin-left:0.25em;}
.mr-1 {margin-right:0.25em;}
.ml-2 {margin-left:0.5em;}
.mr-2 {margin-right:0.5em;}
.ml-5 {margin-left:2em;}
.mr-5 {margin-right:2em;}

.alert {margin:1rem;padding:1rem;font-size:125%;border-radius: 0.5em;}
.alert-warning {background-color: #ffe0a0;border:1px solid #bfa575;}
.alert-danger {background-color:lightpink;;border:1px solid hotpink;}
