@CHARSET "UTF-8";

.Speaker {border-collapse: collapse; width:100%; }
.Speaker th {border:1px solid white;}
.Speaker .Title {font-size:100%; background-color:navy; color: white; }


.Tabella .name
{
	font-weight: bold;
	font-size: 14px;
}

.Tabella .setPoints
{
	font-weight: bold;
	font-size: 14px;
}

.Tabella .score
{
	font-weight: bold;
	font-size: 14px;
}

.Tabella .big
{
	font-weight: bold;
	font-size: 14px;
}

.Tabella .read-row
{
	background-color: #E2E2E2;
}

.Tabella .finished-now-col
{
	background-color: #ffb0ff;
}

.Tabella .shootoff-now-col
{
	background-color: #D0FFD0;
}

.Tabella .Update0
{
	background-color: #ff0000;
}

.Tabella .Update1
{
	background-color: #ffff00;
}

.Tabella .Update2
{
	background-color: #00ff00;
}

.SnapScore {display: inline-block; font-size:70%; width:4em; }

.newData {
	background-color: #00ff00;
}

#x_Schedule {max-width:25em; overflow:hidden;}