@CHARSET "UTF-8";

.name
{
	font-weight: bold;
	font-size: 14px;
}

.setPoints
{
	font-weight: bold;
	font-size: 14px;
}

.score
{
	font-weight: bold;
	font-size: 14px;
}

.big
{
	font-weight: bold;
	font-size: 14px;
}

.read-row
{
	background-color: #9f9e9e;
}

.read-col
{
	background-color: #9f9e9e;
}

.finished-now-col
{
	background-color: #fd4fe7;
}



