
body
{
	font-size: 6pt;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 0;
	padding: 0;
	background-attachment:fixed;
	background-color:#FFFFFF;
    -webkit-print-color-adjust: exact;
}

.Tabella .Tabella {display:none;}

table.Tabella {width:100%; background-color:#FFFFFF; border: 2px; border-color:#E1F0FF; border-collapse:separate; border-spacing:1px; /*empty-cells:hide;*/}
table.Tabella tr { background-color:#FFFFFF; color: #004488;}
table.Tabella tr.OtherColor { background-color:#FFFFFF; color: #004488;}
table.Tabella tr.CanShoot { background-color:#FFFFFF; color: #004488;}
table.Tabella tr.CouldShoot { background-color:#FFFFFF; color: #004488;}
table.Tabella tr.NoShoot { background-color:#FFFFFF; color: #004488;}

table.Tabella td.TargetOk { background-color:#FFFFFF; color: #004488;}
table.Tabella td.TargetNoComplete { background-color:#FFFFFF; color: #004488;}
table.Tabella td.TargetKo { background-color:#FFFFFF; color: #004488;}

table.Tabella tr.Main { background-color:#004488; font-size:12pt; font-weight:bold; color: #F2F9ff;}
table.Tabella tr.Spacer {background-color: #004488; height:2px}
table.Tabella tr.warning {background-color:#FFFF99; text-align: left; vertical-align:middle; }
table.Tabella tr.error {background-color: #FFCC99; text-align: left; vertical-align:middle; }
table.Tabella th { background-color:#BFDDFF; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488}
table.Tabella th.Main { background-color:#004488; height:80px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;  text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #F9FCFF; vertical-align:middle; letter-spacing: 0.5em;}
table.Tabella th.Title { background-color:#004488; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff; font-size:10pt}
table.Tabella th.TitleLeft { background-color:#004488; text-align:left; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff; font-size:100%}
table.Tabella th.TitleNeg { background-color:#F2F9ff; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488; font-size:120%}
table.Tabella th.TestaStampa { background-color:#004488; text-align:right; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff; font-size:120%}
table.Tabella td { padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px;}
table.Tabella td.Right { text-align:right;}
table.Tabella td.Center { text-align:center;}
table.Tabella td.Bold {  font-weight:bold;}
table.Tabella td.FontMedium { font-size:140%;}
table.Tabella td.FontBig { font-size:180%;}
table.Tabella td.LiveSpotting {vertical-align:top; text-align:center;}
table.Tabella td.Title { background-color:#004488; text-align:center; font-weight:bold; padding-left:2px; padding-right:2px; font-weight:bold; color: #F2F9ff}
table.Tabella td.Caption { background-color:#BFDDFF;  text-align:center; font-weight:bold; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488}
/*table.Startlist td.Small  { width=50px; padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px; font-size:10px; color: #000000}*/
table.Tabella td.Divider {background-color: #004488; height:2px}
table.Tabella td.Light {background-color:#ffffff}
table.Tabella td.Medium {background-color:#FFFFD0}
table.Tabella td.Dark {background-color:#BFDDFF}

.LetteraGrande { font-size:150%; font-weight:bold; }

input, textarea, select
{
 background:#FFFFFF;
 border:1px #97B9E6 solid;
 color: #000000;
 font: 9pt Arial,Verdana,Sans;
}
input.number{text-align:right;}

input.error {font-weight:bold; background-color:#FFFF99;}
input.noerror {font-weight:normal; background-color:#FFFFFF;}
input.red {font-weight:bold; background-color:#FF3C1E;}

textarea.error {font-weight:bold; background-color:#FFFF99;}
select.error {font-weight:bold; background-color:#FFFF99;}
textarea.red {font-weight:bold; background-color:#FF3C1E;}
select.red {font-weight:bold; background-color:#FF3C1E;}

.disabled {background:#E8E8E8;}

.yellow  {background:#FFFF99;}
.red  {background:#FF3C1E;}

/********************************Fine Tabella generica ************************************/

a {text-decoration:none;color: yellow;}
a:hover {text-decoration:underline; }
/*.Link {font-weight:bold; color: #666666; text-decoration:none;}*/
.Link {font-weight:bold; color: inherit; text-decoration:none;}
.Link:hover {text-decoration:underline;}

.LinkRevert {font-weight:bold; color: #FFFFFF; text-decoration:none;}
.LinkRevert:hover {text-decoration:underline;}

.medium {width: 75%;}
.half {width: 50%;}

/********************************Tabelle griglia ************************************/
table.Content  {width:100%; padding:0px; background-color:#FFFFFF; border: 1px;  border-color:#000000; border-collapse:collapse; border-spacing:0px; empty-cells:hide;}
table.Content td.Center { text-align:center; background-color:#FFFFFF;}
table.Griglia  {width:100%; padding:0px; background-color:#FFFFFF; border: 1px;  border-color:#ffffff; border-collapse:collapse; border-spacing:0px; empty-cells:hide; font-family:Verdana, Arial, Helvetica, sans-serif; color:#0066CC; font-size:10px; font-weight:normal;}
table.Griglia th { background-color:#BFDDFF; text-align:center; padding-left:2px; padding-right:2px; font-weight:bold; color: #004488}
table.Griglia td.TextRight { text-align:right; background-color:#FFFFFF;  color:#000066;}
table.Griglia td.Center { text-align:center; background-color:#FFFFFF;  color:#000066;}
table.Griglia td.Top { border-top: 1px solid black; padding-top: 1px; color:#0066CC; background-color:#FFFFFF;}
table.Griglia td.Bottom { border-bottom: 1px solid black; padding-bottom: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.Right { border-right: 1px solid black; padding-right: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.Left { border-left: 1px solid black; padding-left: 1px; color:#0066CC;background-color:#FFFFFF;}

table.Griglia td.wTop { border-top: 1px solid white; padding-top: 1px; color:#0066CC; background-color:#FFFFFF;}
table.Griglia td.wBottom { border-bottom: 1px solid white; padding-bottom: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.wRight { border-right: 1px solid white; padding-right: 1px; color:#0066CC;background-color:#FFFFFF;}
table.Griglia td.wLeft { border-left: 1px solid white; padding-left: 1px; color:#0066CC;background-color:#FFFFFF;}
/********************************Fine Tabelle griglia ************************************/

table.Tabella td.Winner {font-size:150%; padding:5px 0; font-weight:bold;text-align:center;background-color:#99FF99;}
